a {
  color: #ce5252;
  text-decoration: none;
}

.header {
  height: auto;
  margin-bottom: 50px;
  background-color: hsla(0, 0%, 97.3%, 0);
}

.header-image {
  font-size: 24px;
  text-align: center;
}

.filterbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.mix-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.mix {
  position: relative;
  width: 23%;
  margin: 10px;
  border: 3px solid #000;
  border-radius: 8px;
}

.mix.level1 {
  position: relative;
  overflow: hidden;
}

.mix.level2.star4.injection {
  position: relative;
  -o-object-fit: fill;
  object-fit: fill;
}

.thumbnail {
  position: static;
  overflow: hidden;
  border: 1px none #000;
  border-radius: 10px;
  background-clip: border-box;
  -o-object-fit: fill;
  object-fit: fill;
}

.thumb-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  max-width: 1200px;
}

.filters-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.filter-button {
  padding-right: 13px;
  padding-left: 13px;
  background-color: #a7a7a7;
}

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tooltip {
  opacity: 0.4;
}

.tooltip.tippy {
  margin-left: 5px;
}

.image {
  width: 20px;
}

.dropdown-toggle {
  margin-right: 0px;
  padding: 10px 40px 10px 30px;
  border: 2px none #000;
  border-radius: 4px;
  background-color: #f38787;
}

.dropdown-toggle.w--open {
  margin-right: 0px;
}

.icon {
  width: 25px;
  margin-right: 0px;
}

.icon-2 {
  margin-right: 10px;
}

.icon-3 {
  margin-right: 10px;
}

.dropdown-link {
  margin-right: 0px;
  margin-left: 4.1px;
  padding-right: 0px;
  padding-left: 10px;
  text-align: right;
}

.dropdown-list {
  margin-top: 10px;
}

.dropdown-list.w--open {
  padding-right: 10px;
  border-radius: 4px;
  background-color: #f38787;
}

.title {
  width: 80%;
  font-family: 'Varela Round', sans-serif;
  font-size: 19px;
}

.rating {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 30px;
  max-width: 20px;
  margin-right: 10px;
  float: right;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.difficulty {
  position: static;
  width: 10%;
  float: right;
  opacity: 0.5;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-2 {
  position: static;
}

.div-block {
  position: absolute;
}

.content {
  overflow: visible;
}

.github {
  position: absolute;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -o-object-fit: fill;
  object-fit: fill;
}

.github:hover {
  opacity: 1;
}

.github:active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block {
  width: 80%;
}

.button {
  margin-right: 25px;
  border-radius: 8px;
  background-color: #f38787;
}

.text-block-2 {
  font-family: Varela, sans-serif;
  color: #312f2f;
  font-size: 18px;
  text-align: center;
}

.footer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .thumbnail {
    overflow: hidden;
  }

  .content {
    overflow: visible;
  }
}

